<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>商品列表</title>
  <link rel="stylesheet" href="/css/product_list.css">
  <link rel="stylesheet" href="/css/主頁sass.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>

  <nav>

    <div id="index_banner">
      <div id="top_nav">
        <div class="container-fluid">

          <div id="member" class="col-1 ">會員登入</div>
          <div id="nav_logo" class="col-2 offset-4"></div>
          <div id="buycar" class="col-1 offset-2"></div>
          <div id="nav_contact" class="col-1 ">聯絡我們</div>
          <div id="live" class="col-1"></div>





        </div>

      </div>


      <div id="bottom_nav" class="border-top">
        <div class="container">
          <div class="row">
            <div class="col-3 middle">
              最新消息
            </div>
            <div class="col-3 middle">
              鬼滅之刃
            </div>
            <div class="col-3 middle">
              流行服飾
            </div>
            <div class="col-3 middle">
              運動保健
            </div>

          </div>
        </div>


      </div>
    </div>






  </nav>
  <section1>
    <!--麵包屑-->
    <div id="breadcrumb">
      <div id="" class="title-contain col-xl-11 magrin-0_auto ">
        <ul class="breadcrumb">
          <li class="breadcrumb-item "><a href="">首頁
            </a></li>
          <li class="breadcrumb-item">潮流服飾</li>
        </ul>
      </div>

      <div class="col-xl-11 magrin-0_auto">
        <div class="now_page">潮流服飾</div>
      </div>
    </div>
  </section1>
  <section2>
    <!--商品陳列-->
    <div class="container d-flex flex-wrap flex-xl-nowrap flex-md-wrap justify-content-around col-xl-10 magrin-0_auto">

      <!-- card -->
      <div class="card m-3 col-md-5 col-sm-12  row col-xl-3">
        <a href="" class="card-container ">
          <div class="card-container-theme">
            <div class="product_photo">
              <img class="product_photo" src="image/sample.png" alt="">
              <div class="new_icon">NEW</div>
              <div class="soldOut_icon">已售完</div>
            </div>
            <div class="product_info d-flex flex-column">
              <div class="product_info-item colors ">
                <div class="color red">
                </div>
                <div class="color black">
                </div>
                <div class="color white">
                </div>
                <div class="color blue">
                </div>
              </div>
              <div class="product_info-item brand_name">惡名昭彰</div>
              <div class="product_info-item product_name">綜合冰淇淋組24入</div>
              <div class="product_info-item product_price">$1350</div>
            </div>
          </div>
        </a>
      </div>
      <!-- card -->
      <!-- card -->
      <div class="card m-3 row col-md-5 col-sm-12  col-xl-3">
        <a href="" class="card-container ">
          <div class="card-container-theme">
            <div class="product_photo">
              <img class="product_photo" src="image/sample.png" alt="">
              <div class="new_icon">NEW</div>
              <div class="soldOut_icon">已售完</div>
            </div>
            <div class="product_info d-flex flex-column">
              <div class="product_info-item colors  ">
                <div class="color red">
                </div>
                <div class="color black">
                </div>
                <div class="color white">
                </div>
                <div class="color blue">
                </div>
              </div>
              <div class="product_info-item brand_name">惡名昭彰</div>
              <div class="product_info-item product_name">綜合冰淇淋組24入</div>
              <div class="product_info-item product_price">$1350</div>
            </div>

          </div>
        </a>
      </div>
      <!-- card -->
      <!-- card -->
      <div class="card m-3 row col-md-5 col-sm-12  col-xl-3">
        <a href="" class="card-container ">
          <div class="card-container-theme">
            <div class="product_photo">
              <img class="product_photo" src="image/sample.png" alt="">
              <div class="new_icon">NEW</div>
              <div class="soldOut_icon">已售完</div>
            </div>
            <div class="product_info d-flex flex-column">
              <div class="product_info-item colors  ">
                <div class="color red">
                </div>
                <div class="color black">
                </div>
                <div class="color white">
                </div>
                <div class="color blue">
                </div>
              </div>
              <div class="product_info-item brand_name">惡名昭彰</div>
              <div class="product_info-item product_name">綜合冰淇淋組24入</div>
              <div class="product_info-item product_price">$1350</div>
            </div>

          </div>
        </a>
      </div>
      <!-- card -->
      <!-- card -->
      <div class="card m-3 row col-md-5  col-sm-12    col-xl-3">
        <a href="" class="card-container ">
          <div class="card-container-theme">
            <div class="product_photo">
              <img class="product_photo" src="image/sample.png" alt="">
              <div class="new_icon">NEW</div>
              <div class="soldOut_icon">已售完</div>
            </div>
            <div class="product_info d-flex flex-column">
              <div class="product_info-item colors  ">
                <div class="color red">
                </div>
                <div class="color black">
                </div>
                <div class="color white">
                </div>
                <div class="color blue">
                </div>
              </div>
              <div class="product_info-item brand_name">惡名昭彰</div>
              <div class="product_info-item product_name">綜合冰淇淋組24入</div>
              <div class="product_info-item product_price">$1350</div>
            </div>

          </div>
        </a>
      </div>
      <!-- card -->
      <div class="footer_block">

      </div>
    </div>


    </div>


  </section2>

  <footer>
    <div class="footer_height">
      <div id="all_footer">



        <div id="top_footer">

        </div>
        <div id="left_footer">

          <div id="leftfooter_content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-2 whitecolor offset-1">保固與服務</div>
                <div class="col-2 whitecolor">退換貨相關</div>
                <div class="col-3 whitecolor">尋找或購買商品</div>
                <div class="col-2 whitecolor">其他</div>
                <div class="col-2 whitecolor">聯絡我們</div>
              </div>

            </div>
            <div id="footer_logo" class="offset-1"></div>
            <div id="copyright">
              <p>©練習使用</p>
            </div>
          </div>
        </div>

        <div id="right_footer">
          <a href="#">
            <div id="gototop" class="">跳至置頂
              <div id="gototop_photo">
              </div>
            </div>
          </a>

          <div id="rightfooter_content">
            <h3>追蹤我們</h3>
            <div class="continer">
              <div id="row_height" class="row">
                <div class="icon col-1">
                </div>
                <div class="icon image1 col-1"></div>
                <div class="icon col-1"></div>
                <div class="icon col-1"></div>
              </div>
              <div class="row">
                <div class="phone ">電話 (02) 2601-3998 </div>
                <div class="serve offset-1">服務時間：12:00~21:00</div>
                <div class="ig">IG:https://www.instagram.com/Notorious_Taiwan/</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>




</body>

</html>
